{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "last 2 versions, ie 11, > 0.5%, not dead",
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-spread",
    "@babel/plugin-proposal-class-properties"
  ]
}
