@import '../../../../styles/icons';

.active-scene {
  padding: 0.5em;
  display: flex;
  max-width: 100%;
  box-sizing: border-box;

  &:before {
    font-family: "360-image";
    content: $staticScene;
    margin: 0 0.6em 0 0.25em;
    font-size: 1.5em;
    vertical-align: sub;
  }

  &.three-sixty:before {
    content: $threeSixtyScene;
  }

  .h5p-scene-denotation {
    display: inline-block;
    white-space: nowrap;
  }

  .h5p-scene-name {
    display: inline-block;
    margin-left: 0.5em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
