@import '../../../../styles/icons';

.h5p-scene-row {
  padding: 0.625em;
  border: 1px solid #e0dede;
  border-bottom-width: 0;
  display: flex;

  .scene-selector-submenu {
    display: none;
  }

  &.marked-scene {
    background-color: #ddf0dd;
    border-color: #72c967;
    border-bottom-width: 1px;

    &:hover {
      background-color: #bacdba;
      border-color: #5baa55;
    }
  }

  &.marked-scene.checked:after {
    font-family: "H5PFontAwesome4";
    content: "\f00c";
    font-size: 1.5em;
    align-self: center;
    margin-right: 0.5em;
    color: #2c611a;
  }

  &.no-top-border {
    border-top: none;
  }

  &:hover {
    background-color: #f5f5f5;
    border-color: #e0dede;
    cursor: pointer;

    .scene-selector-submenu {
      display: block;
    }
    .h5p-scene-name {
      text-decoration: underline;
    }
  }

  &:active {
    background-color: #e8e8e8;
    border-color: #e0dede;
  }

  .thumbnail-wrapper {
    display: flex;
    position: relative;
    width: 2.7em;
    height: 2.1em;

    &:before {
      font-family: "360-image";
      content: $staticScene;
      position: absolute;
      background: white;
      left: 0.2em;
      top: 0.1em;
      transform: translate(-50%,-50%);
      font-size: 0.9em;
    }

    .scene-thumbnail {
      width: 100%;
      align-self: center;
    }

    .scene-thumbnail.vertical {
      height: 100%;
      width: auto;
    }
  }

  &.three-sixty .thumbnail-wrapper:before {
    content: $threeSixtyScene;
  }

  .scene-wrapper {
    flex: 1;
    display: inline-block;
    margin: 0 0.75em;
    vertical-align: top;
    box-sizing: border-box;
    overflow: hidden;

    .h5p-scene-name {
      font-size: 0.9em;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }

    .starting-scene {
      font-size: 0.7em;
      font-style: italic;
    }
  }
}
