@import "../../styles/icons";

.h5p-interactions-bar {
  padding: 0.5em;
  background: #f5f5f5;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;

  button {
    box-sizing: content-box;
    vertical-align: top;
    position: relative;
    font-size: 1.2em;

    width: 1em;
    height: 1.1em;
    margin-right: 0.4em;
    padding: 0.25em 0.65em;

    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    color: #333;
    background: #f2f2f2;
    background: -webkit-linear-gradient(top, #fff 0, #f2f2f2 100%);
    background: -moz-linear-gradient(top, #fff 0, #f2f2f2 100%);
    background: -ms-linear-gradient(top, #fff 0, #f2f2f2 100%);
    background: -o-linear-gradient(top, #fff 0, #f2f2f2 100%);

    &:hover {
      border-color: #999999;
      transition: 0.1s;
      background: #f2f2f2;

      .tooltip {
        display: block;
      }
    }
    &:active {
      border-color: #999999;
      transition: 0.1s;
      background: #dddddd;
    }

    .tooltip {
      display: none;
      background: black;
      color: white;
      white-space: nowrap;
      position: absolute;
      left: 0;
      bottom: -2px;
      transform: translateY(100%);
      z-index: 1;
      padding: 0.2em 0.5em;
      font-size: 0.8em;
      border-radius: 4px;
    }
  }

  button:before {
    font-family: 'H5PFontAwesome4';
  }

  .h5p-gotoscene:before {
    font-family: '360-image';
    font-size: 0.8em;
    content: $goToScene;
  }

  .h5p-advancedtext:before {
    content: 'T';
  }

  .h5p-image:before {
    content: $image;
  }

  .h5p-audio:before {
    content: $audio;
  }

  .h5p-video:before {
    content: $video;
  }

  .h5p-imageslider:before,
  .h5p-singlechoiceset:before,
  .h5p-summary:before {
    font-family: "H5PFontIcons";
    content: $summary;
    font-size: 1.45em;
    position: absolute;
    top: 0.46em;
    transform: translate(-50%, -50%);
  }

  .h5p-singlechoiceset:before {
    content: $singleChoiceSet;
  }

  .h5p-imageslider:before {
    content: $imageSlider;
  }
}
