@import "../../styles/icons";

.h5p-interactions-bar {
  padding: 0.5em;
  background: #f5f5f5;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;

  button {
    box-sizing: content-box;
    vertical-align: top;
    position: relative;
    font-size: 1.2em;

    width: 1em;
    height: 1.1em;
    margin-right: 0.4em;
    padding: 0.25em 0.65em;

    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    color: #333;
    background: #f2f2f2;
    background: -webkit-linear-gradient(top, #fff 0, #f2f2f2 100%);
    background: -moz-linear-gradient(top, #fff 0, #f2f2f2 100%);
    background: -ms-linear-gradient(top, #fff 0, #f2f2f2 100%);
    background: -o-linear-gradient(top, #fff 0, #f2f2f2 100%);
  }

  button:before {
    font-family: 'H5PFontAwesome4';
  }

  .h5p-gotoscene:before {
    font-family: '360-image';
    font-size: 0.8em;
    content: $goToScene;
  }

  .h5p-advancedtext:before {
    content: 'T';
  }

  .h5p-image:before {
    content: $image;
  }

  .h5p-audio:before {
    content: $audio;
  }

  .h5p-video:before {
    content: $video;
  }

  .h5p-summary:before {
    font-family: "H5PFontIcons";
    content: $summary;
    font-size: 1.45em;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
  }
}