// H5PFontAwesome4
$video: "\f008";
$audio: "\f028";
$image: "\f03e";

// 360-image
$goToScene: "\e907";
$scene: "\e915";

$dropdown: "\e913";
$setStartScene: "\e914";
$openScene: "\e911";
$edit: "\e90f";
$delete: "\e910";

$threeSixtyScene: "\e902";
$staticScene: "\e90b";

$noscene: "\e900";

// H5PFontIcons
$summary: "\e992";
$singleChoiceSet: "\e993";
$imageSlider: "\e921";
