.h5p-new-scene-button {
  padding: 0.5em 1em;

  font-size: 1em;
  color: #ffffff;

  background: #475ec4;
  border: 1px solid #475ec4;
  border-radius: 3px;
  cursor: pointer;
}

.h5p-control-bar {
  display: flex;
  margin-top: 0.75em;
  padding: 0 20px;
}