@font-face {
  font-family: '360-image';
  src:  url('../assets/360-image.eot?nghxo3');
  src:  url('../assets/360-image.eot?nghxo3#iefix') format('embedded-opentype'),
  url('../assets/360-image.ttf?nghxo3') format('truetype'),
  url('../assets/360-image.woff?nghxo3') format('woff'),
  url('../assets/360-image.svg?nghxo3#360-image') format('svg');
  font-weight: normal;
  font-style: normal;
}

.h5p-threeimage-editor {
  .scene-editor {
    position: relative;
    /*****
    Might be added to get the inital design (no spacing on the sides). But
    probably needs to be removed in fullscreen.
    left: -1.25em;
    width: calc(100% + 2.5em);
    ******/
  }

  .scene-wrapper.no-scenes .scene-container {
    display: none;
  }
}
